.form_field_fio div input {
    width: 33%;
    float: left;
}
.form_field_fio div {
    overflow: hidden;
}
.modal-dialog {
    position: fixed;
    z-index: 100;
    left: 50%;
    margin-left: -300px;
}
input.has-error {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.table-search {
    background-color: white;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 100;
    border: 1px solid #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    width: auto;
}
.modal-info {
    width: 800px;
    margin-left: -400px;
}
.modal-info .modal-body {
    height: 600px;
    overflow: auto;
}