<h3>Задание:</h3>
<ul>
    <li>Статический файл «Данные сотрудников».
        <ul>
            <li>Формат json.</li>
            <li>Размещается на условном сервере.</li>
            <li>Содержит 8 сотрудников, из них 3 уволенных, 5 работающих. По отделам сотрудники должны быть с
                распределены (работающий-уволенный): офис - 2+1, склад - 2+1, охрана - 1+1.</li>
        </ul>
    </li>
    <li>
        Local Storage браузера.
        <ul>
            <li>Должно иметь такую структуру, как и файл «Данные сотрудников».</li>
            <li>В него загружаются данные из файла «Данные сотрудников».</li>
        </ul>
    </li>
    <li>
        Создать главную страницу:
        <ul>
            <li>Вверху Поле «Поиск по ФИО», с помощью которого ищется сотрудник. Из Local Storage браузера должны
                грузиться подсказки. В подсказке кроме ФИО должны быть дата рождения, должность. По нажатию кнопки
                «Найти» происходит фильтрация в Таблице данных.</li>
            <li>Кнопка «Добавить». Данные добавляются в Local Storage браузера. По ней открывается форма добавления
                сотрудника с полями:
                <ul>
                    <li>Фамилия. Валидатор по наличию только кириллицы, по количеству символов от 2 до 15:</li>
                    <li>Имя. Валидатор по наличию только кириллицы, по количеству символов от 2 до 15.</li>
                    <li>Отчество, если имеется. Валидатор по наличию только кириллицы.</li>
                    <li>Дата рождения. Поле должно содержать маску и валидатор.</li>
                    <li>Отдел. Список: офис, склад, охрана.</li>
                    <li>Должность. Список выбора: зависит от отдела: для офиса - руководитель, менеджер, для склада –
                        приёмщик, кладовщик, для охраны - охранник.</li>
                    <li>Мобильный телефон. Поле должно содержать маску. Проверяться его уникальность по файлу «Данные
                        сотрудников».</li>
                    <li>Статус. Список: уволен(а), работает.</li>
                    <li>Все поля кроме отчества обязательные.</li>
                </ul>
            </li>
            <li>
                Таблица данных:
                <ul>
                    <li>Отображать актуальные данные из Local Storage браузера.</li>
                    <li>Иметь постраничную разбивку по 5 записей.</li>
                    <li>Иметь сортировки:
                        <ul>
                            <li>По отделу – отдел, ФИО, должность</li>
                            <li>по ФИО – ФИО, отдел, должность.</li>
                            <li>По Статусу – Статус, отдел, ФИО, должность.</li>
                        </ul>
                    </li>
                    <li>У каждой записи должны быть кнопки «Редактировать», «Переместить» и у уволенных «Восстановить», у работающих «Уволить».
                        <ul>
                            <li>Кнопка «Переместить» должна открывать форму со списком отделов и перемещать сотрудника в другой отдел. Работает с Local Storage браузера</li>
                            <li>Кнопки «Восстановить» и «Уволить» должны быть действующие и работать с Local Storage браузера.</li>
                            <li>Каждая кнопка должна иметь многострочную подсказку.</li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </li>
</ul>
<h3>Оченка задания:</h3>
Выполнение задания заняло 22 часа, из них:
<ul>
    <li>3ч - Оценка данных, задания, Создание GUI</li>
    <li>3ч - Создание структуры MVC</li>
    <li>6ч - Создание формы добавления работника</li>
    <li>1ч - Создание таблицы с обновлением строк</li>
    <li>3ч - Создание фильтрации работников при выборе их хранилища + Поиск</li>
    <li>2ч - Создание сортировки в таблице</li>
    <li>0,5ч - Изменение статуса работника</li>
    <li>1,5ч - Изменение отдела работника</li>
    <li>2ч+ - Документирование кода</li>
</ul>

